<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bbs.css">
    <title>Document</title>
</head>
<body bgcolor="black">
<header>
<nav id="gnav">
<ul class="inner">
<font color="white" size="6">
    <li><a href="/">ホーム</a></li>
    <li><a href="career.html">基本情報</a></li>
    <li><a href="research.html">研究</a></li>
    <li><a href="skill.html">能力・経験</a></li>
    <li><a href="#">掲示板</a></li>
</font>
</ul>
</nav>
</header>

    <div class="bbs_form">
        <font color="white">
            <form action="/bbs.html/result" method="post">
                <label for="article">投稿</label>
                <textarea name="article" cols="40" rows="4" maxlength="20" placeholder="お気軽にどうぞ!"></textarea>
                <p></p>
                <label for="name">名前</label>
                <input type="text" name="name">
                <button type="submit">送信する</button>
            </form>
        </font>
    </div>
    <div style="padding: 10px; margin-bottom: 10px; border: 5px double #333333;" class="all">
        <font color="white" size="3">
            <ul>
                    {% for line in lines: %}
                        <li type="disc">
                            <p>{{date_now}}</p>
                        {% set column = line.rstrip().split(",") %}
                        {% for item in column: %}
                            {{ "　" + item}}
                        {% endfor %}
                        </li>
                    {% endfor %}
            </ul>
        </font>
    </div>
</body>
</html>