.fadein {
	opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
	}

a{
    color: white;
}
a:hover{
    color: white;
}

.fadein_scrollin {
	opacity : 1;
	}

.blink {
    animation: blinkAnime 2s infinite alternate;
    }
    @keyframes blinkAnime{
        0% { color: rgba(0,0,0,0) }
    100% { color: #ffffff }
    }

#gnav ul li{

    display: inline;
    
    }

body{
    background-color: black;            /* 背景色 */
    background-image: url("../images/ofilia.png"); /* 画像 */
    background-size: cover;               /* 全画面 */
    background-attachment: fixed;         /* 固定 */
    background-position: center center;   /* 縦横中央 */
}

.name_text{
    font-family: 'Notable', sans-serif;
    font-size: 80px;
    width: 100%;
    color: white;
}

.intro_title{
    font-family: 'Notable', sans-serif;
    font-size: 500%;
    color: white;
}

.intro_txt_0{
    font-family: 'Notable', sans-serif;
    font-size: 40px;
    color: white;
}

.intro_txt_02{
    /* font-family: 'DotGothic16', sans-serif; */
    font-family: 'Notable', sans-serif;
    font-size: 40px;
    color: white;
}

.intro_txt_1{
    font-family: 'Notable', sans-serif;
    font-size: 40px;
    color: white;
}
.intro_txt_2{
    font-family: 'Notable', sans-serif;
    font-size: 40px;
    color: white;
}
.intro_txt_3{
    font-family: 'Notable', sans-serif;
    font-size: 40px;
    color: white;
}

.my_face{
    width:100%;
    height:100%;
    position:relative;
    filter: drop-shadow(-10px 10px 10px rgba(0,0,0,1));
}

.experience{
    font-family: 'Notable', sans-serif;
    font-size: 80px;
    position:relative;
    color: white;
}

.experience_txt{
    /* font-family: 'Notable', sans-serif; */
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: bold;
    font-size: 40px;
    position:relative;
    color: white;
}

.move{
    width:100%;
    height:100%;
    position:relative;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,1));
}

.work_1_title{
    font-family: 'Notable', sans-serif;
    font-size: 80px;
    position:relative;
    color: white;
    left:60px;
}

.work_1_ex{
    font-weight: bold;
    width: 712px;
    font-size: 30px;
    position:relative;
    color: white;
    left:40px;
}

.work_2_title{
    font-family: 'Notable', sans-serif;
    font-size: 80px;
    position:relative;
    color: white;
}

.work_2_ex{
    font-weight: bold;
    width: 712px;
    font-size: 30px;
    position:relative;
    color: white;
}

.city{
    width:90%;
    height:90%;
    position:relative;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,1));
    left: 70px;
}

.work_mov{
    width:90%;
    height:90%;
    position:relative;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,1));
}

.work_3_title{
    font-family: 'Notable', sans-serif;
    font-size: 80px;
    position:relative;
    color: white;
    left:30px;
}

.work_3_ex{
    font-weight: bold;
    width: 712px;
    font-size: 30px;
    position:relative;
    color: white;
    left:20px;
}

.work_4_title{
    font-family: 'Notable', sans-serif;
    font-size: 80px;
    position:relative;
    color: white;
}

.work_4_ex{
    font-weight: bold;
    width: 712px;
    font-size: 30px;
    position:relative;
    color: white;
}

.work_app{
    width:90%;
    height:90%;
    position:relative;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,1));
    left: 70px;
}

.raspi{
    width:85%;
    height:85%;
    position:relative;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,1));
}

.work_5_title{
    font-family: 'Notable', sans-serif;
    font-size: 80px;
    position:relative;
    color: white;
    left:30px;
}

.work_5_ex{
    font-weight: bold;
    width: 712px;
    font-size: 30px;
    position:relative;
    color: white;
    left:20px;
}

.skill_title{
    font-family: 'Notable', sans-serif;
    font-size: 80px;
    position:relative;
    color: white;
}

.skill{
    font-family: 'Notable', sans-serif;
    font-size: 50px;
    position:relative;
    color: white;
    margin-right: auto;
    margin-left: 300px;
}

.test{
    font-family: 'Notable', sans-serif;
    color: white;
    font-size: 50px;
}

.git{
    font-family: 'Notable', sans-serif;
    color: white;
    font-size: 50px;
}

.qiita{
    font-family: 'Notable', sans-serif;
    color: white;
    font-size: 50px;
}