.blink {
    animation: blinkAnime 0.3s infinite alternate;
  }
  @keyframes blinkAnime{
     0% { color: #ffffff }
   100% { color: #00e200 }
  }

.res_tex1{
    line-height:2;
}
.res_tex2{
    line-height:2;
}