body{
    background-color: black;            /* 背景色 */
   background-image: url("images/knees.png"); /* 画像 */
   background-size: cover;               /* 全画面 */
   background-attachment: fixed;         /* 固定 */
   background-position: center center;   /* 縦横中央 */
}

.work_title{
    font-family: 'Notable', sans-serif;
    
    font-size: 80px;
    width: 100%;
}

.smf{
    display: none;
}

.work_pdf{
    margin-left: 110px;
    width:1200px;
    height:700px;
}

@media screen and (max-width: 600px){
    .work_title{
        font-family: 'Notable', sans-serif;
        
        font-size: 40px;
        width: 100%;
    }
    .work_pdf{
        display: none;
    }
    .smf{
        display: block;
    }
}